body {
    padding: 0px;
    margin: 0px;
}

md-toast {
    bottom: auto;
    top: 0px;
}

md-content.home {
    .config-region {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .camera-region {
        background: #352e3b;
        button {
            box-sizing: content-box;
            padding: 40px;
            width: 100px;
            height: 100px;
        }
        i {
            margin-top: 10px;
            font-size: 90px;
        }
    }
    .audio-region {
        background: #26212a;
        .audio-play {
            button {
                box-sizing: content-box;
                padding: 30px;
                width: 60px;
                height: 60px;
            }
            i {
                font-size: 65px;
            }
        }
        @media (min-width: 500px) {
            background: transparent;
            position: absolute;
            bottom: 80px;
            right: 20px;
        }
    }
    .banner-region {
        text-align: center;
        max-height: 40px;
        padding: 10px;
        background: #352e3b;
        color: aliceblue;
    }
}
